.header {
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ECECEC;

    @include tablet {
        padding-top: 21px;
        padding-bottom: 21px;
    }

    @include desktop {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

.header__container {

    display: flex;
    align-items: center;
}

.header__nav {
    display: flex;
    align-items: center;


}





.nav {

    @include tablet {
        display: flex;
        align-items: center;
    }

}


.nav__item {
    @media screen and (max-width: 767px) {
        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }


    &--current {
            position: relative;
        }

    @include tablet {
        &:not(:last-child) {
            margin-right: 50px;
        }
    }



}

.nav__link {
    color: $tittle-text-color;

    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;

    text-decoration: none;

    transition: color 250ms $timing-function;

    &:hover, &:focus {
        color: $accent-text-color;
    }

    @include tablet {
        font-size: 14px;
        line-height: 1.14;
    }
}

.nav__link--current {
    position: relative;
    color: $accent-text-color;
    padding-bottom: 31px;



    &::after {
        content: '';
        position: absolute;
        display: none;
        left: 0;
        bottom: -1px;

        height: 4px;
        width: 100%;
        background: $accent-text-color;
        border-radius: 2px;

        @include tablet {
            display: block;
        }
        }

    


    }





.contacts {
    @media screen and (max-width: 767px) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        margin-top: auto;
        margin-bottom: 64px;
    }


    @include tablet {
        margin-left: auto;
    }
    
    @include desktop {
        display: flex;
    }
}

.contacts__item:first-child {
    @media screen and (max-width: 767px) {
        margin-bottom: 32px;
    }

    @include desktop {
        margin-right: 50px;        
    }

}

.contacts__link {
    color: $primary-text-color;
    display: flex;
    align-items: center;
    font-weight: 500;
    letter-spacing: 0.02em;

    text-decoration: none;

    transition: color 250ms $timing-function;

    &:hover, &:focus {
        color: $accent-text-color;
    }

    @include tablet {
        font-size: 14px;
        line-height: 1.14;
    }
}

.contacts__tel {
    @media screen and (max-width: 767px) {
        color: $accent-text-color;
        font-size: 34px;
        line-height: 1.18;
        margin-bottom: 32px;
    }
}

.contacts__email {
    @media screen and (max-width: 767px) {
        font-size: 24px;
        line-height: 1.17;
    }
    @include tablet {
        margin-bottom: 10px;
    }
    @include desktop {
        margin-bottom: 0;
    }
}

.contacts__icon {
    display: none;

    @include tablet {
        display: block;
        margin-right: 10px;
        fill: currentColor;
    }


}









