.grid {

    // gap: 30px;
    margin: -15px;

    @include tablet {
        display: flex;
        flex-wrap: wrap;
    }

}

.grid__item {

    margin: 15px;

    z-index: 9;
    border: 4px;
    width: 100%;
    height: auto;

    @include tablet {
        flex-basis: calc((100% - 60px) / 2);
    }
    
    @include desktop {
        flex-basis: calc((100% - 90px) / 3);
    }
}

.grid__item img {
    width: 100%;
    height: auto;
}

.project {
    display: block;
    transition: box-shadow 250ms timing-function;

    &:hover, &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}


.project__thumb {
    position: relative;

    content: '';

    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    overflow: hidden;

}

.project_thumb img {
    width: 450px;
    height: auto;
}

.project__text {

    position: absolute;
    top: 0;
    left: 0;
    overflow-y: scroll;

    color: $primary-white-color;
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    width: 100%;
    height: 100%;

    transform: translateY(101%);
    transition: transform 250ms $timing-function;

    font-size: 18px;
    line-height: 1.56;

    .project:hover & , .project:focus & {
        transform: translateY(0);
    }

    @media screen and (max-width: 767px) {
        padding: 77px 24px;
    }
}

.project__content {
    padding: 20px 24px;

    border: 1px solid #EEEEEE;
    border-top: none;
}

.project__name {
    color: $tittle-text-color;

    font-size: 18px;
    line-height: 2;
    margin-bottom: 4px;
}

.project__type {
    font-size: 16px;
    line-height: 1.88;
    margin: 0;
}