.hero {
    background-color: $additional-background-color;
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;
    margin: 0 auto;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero-bg-mob-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    // min-width: 420px;
    max-width: 1600px;
    height: auto;


    @include pxratio-2 {
        background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/hero-bg-mob-x2-min.jpg);
    }

    @include tablet {
        background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/hero-bg-tab-min.jpg);

        @include pxratio-2 {
            background-image: linear-gradient(to right,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url(../images/hero-bg-tab-x2.jpg);
        }
    }

    @include desktop {
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/hero-bg.jpg);

        @include pxratio-2 {
            background-image: linear-gradient(to right,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url(../images/hero-bg-x2-min.jpg);
        }
    }



}

.hero__tittle {
    color: $primary-white-color;

    font-weight: 900;

    font-size: 26px;
    line-height: 1.62;

    letter-spacing: 0.06em;

    text-transform: uppercase;
    margin-bottom: 30px;

    @include desktop {
        font-size: 44px;
        line-height: 1.36;
    }
}